<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<div th:if="${param.error}">
    An error occurred during registration.
</div>

<h2>Create a New Account</h2>

<form th:action="@{api/register}" method="post">
    <div>
        <label> User Name :
            <input type="text" name="username" required />
        </label>
    </div>
    <div>
        <label> Password:
            <input type="password" name="password" required />
        </label>
    </div>
    <div>
        <label> Display Name:
            <input type="text" name="displayName" required />
        </label>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
</body>
</html>
